<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WEB CODING GAME</title>
    <link rel="stylesheet" href="../static/css/cg10.css">
    <script src="../static/js/all_cg_index.js"></script>
</head>
<body onload="{{check_is_played('LEVEL-10')}}">
    <div id="cg1_window">
        <h1 id="cg1_title">LEVEL-10</h1>
        <p id="cg1_q1">诶，下一关呢？</p>
        <input type="button" value="下一关" id="next_bt" onclick="window.location.href = ('/cg11')">
    </div> 
</body>
</html>