<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WEB CODING GAME</title>
    <link rel="stylesheet" href="../static/css/cg11.css">
    <script src="../static/js/all_cg_index.js"></script>
</head>
<body onload="{{check_is_played('LEVEL-11')}}">
    <div id="cg1_window">
        <h1 id="cg1_title">LEVEL-11</h1>
        <p id="cg1_q1">562U5qGI5piv77yaaGVsbG93Y2dodG1sCiA=</p>
        <div id="inputing_div">
            <input type="text" placeholder="请输入密码" id="input_answer">
            <input type="button" value="提交" id="next_bt" onclick="check_cg11_answer()">
        </div>
    </div> 
</body>
</html>