<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WEB CODING GAME</title>
    <link rel="stylesheet" href="../static/css/cg14.css">
    <script src="../static/js/all_cg_index.js"></script>
</head>
<!-- <body onload="{{check_is_played('LEVEL-12')}}"> -->
<body>
    <div id="cg1_window">
        <h1 id="cg1_title">LEVEL-14</h1>
        <audio controls id="cg_music">
            <source src="../static/music/notmusic.wav" type="audio/wav">
            Your browser does not support this audio format.
        </audio>
    </div> 
    <!-- PD290 -->
</body>
</html>